
 
.App {
    /* padding-bottom: 10%; */
    /* margin: 0; */
    text-align: center;
    font: white;
    font-family: "New Rocker";
    font-size: 100%;
    background: #5C5C5C;
    background-image: url('./Images/Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    /* margin: 100; */
    /* overflow: hidden; */
    
    
  } 
